
@{
    ViewBag.Title = "Ans";
}


<div class="widget-content nopadding">
    <div class="form-horizontal">
        <div class="titleforms">
            Gestion ANS
        </div>
    </div>

    <div class="row-fluid" style="text-align:center;margin-top:20px;">
        <label style="font-weight:bold;">Numero de Minutos Configurados : {{listestday.Horas}}</label>
    </div>

    <div class="row-fluid" style="padding:15px;padding-bottom:0 !important;padding-top:3px !important;margin-top:15px;">
        <div class="span12">
            <div class="span2" style="text-align:left;">
                <label style="font-weight:bold;">Parámetro En Minutos</label>
            </div>
            <div class="span8">
                <input type="text" class="span12" ng-model="horastope" capitalize onlynumbers placeholder="Minutos" />
            </div>
            <div class="span2">
                <input style="width:100px;margin-left:15px;" type="button" class="btn btn-success" ng-click="Actualizar()" name="name" value="Actualizar" />
            </div>
        </div>
    </div>


    <div class="row-fluid" style="text-align:center;margin-top:20px;">
        <label style="font-weight:bold;">Hora Configurada : {{listtime.Horas}}</label>
    </div>

    <div class="row-fluid" style="padding:15px;padding-bottom:0 !important;padding-top:3px !important;margin-top:15px;">
        <div class="span12">
            <div class="span2" style="text-align:left;">
                <label style="font-weight:bold;">Hora Envío Correo</label>
            </div>
            <div class="span8">
                <input type="time" class="span12" id="horagen" ng-model="horagen" />
            </div>
            <div class="span2">
                <input style="width:100px;margin-left:15px;" type="button" class="btn btn-success" ng-click="ActualizarHora()" name="name" value="Actualizar" />
            </div>
        </div>
    </div>


    <div class="row-fluid" style="margin-top:30px;">
        <div class="form-horizontal">
            <div class="titleforms">
                Listado de Correos Configurados
            </div>
        </div>
        <div class="span12" style="text-align:center;">
            <div class="span12">
                <div class="span4">

                </div>
                <div class="span3">
                    <input type="text" class="span12" ng-model="mailsadd" name="name" value="" />
                </div>                
                <div class="span1" style="padding-left:10px;">
                    <i class="fa fa-plus-square" style="font-size:20px;color:#009fe3;" title="Agregar" ng-click="addmail()"></i>
                </div>  
                <div class="span4">

                </div>
            </div>
        </div>
        <div class="span12" style="margin-top:20px;text-align:center;" ng-repeat="mails in listmails">
            <div class="span12">
                <div class="span4">

                </div>
                <div class="span3">
                    <label>{{mails.Correo}}</label>
                </div>                
                <div class="span1" style="padding-left:10px;">
                    <i class="fa fa-minus-circle" style="font-size:20px;color:#c33c3c;" ng-click="deletemail(mails)" title="Eliminar"></i>
                </div>
                <div class="span4">

                </div>
            </div>
        </div>
    </div>
</div>
