
@{
    ViewBag.Title = "Principal";
}
@*style="position:absolute;top: 0; bottom: 0; left: 0; right: 0;margin: auto;text-align:center"*@



<div class="row-fluid" style="text-align:center; margin-top:10%" id="tbl">
    <div class="span12">
        <img src="~/img/logo-Solictud de gruas.png" style="height:182px;" />
    </div>
    <div class="span12">
        <img style="margin-top:70px;height:180px;" src="~/img/Escudo-institucional-Colores.png" />
    </div>
</div>


<style>
    #tbl tr:nth-child(odd) {
        background-color: transparent;
    }

    #tbl tr:nth-child(even) {
        background-color: transparent;
    }
</style>